
body{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button, 
.container.call-to-action{
    background-color: #3882f6;
    color: #F9FAF8;
}


.container{
    display: flex;
    flex-direction: column;
}

.hero, .footer{
    background-color: #1f2937;
    color: #F9FAF8;
}

.hero.text{
    font-size: 48px;
    font-weight:bolder;

}


.information.header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.logo{
    font-size: 24px;
}

.hero.subtext,
.links{
    font-size: 18px;
    color: #E5E7EB;
}


.container.quote{
    background-color: #E5E7EB;
}

.quote.text{
    font-size: 36px light italic #1F2937;
    font-weight: 10; 
    font-style: italic;
}

.quote.subtext{
    font-size: 18px;
}

.container.call-to-action{
    display: flex;
    flex-direction: row;

}

